{% from "components/icon.html" import Icon %}

{% macro SimpleOptionsInput(field) %}
  <div class="usa-input">
    <fieldset data-ally-disabled="true" class="usa-input__choices">
      <legend>
        <div class="usa-input__title-inline">
          {{ field.label | striptags}}
        </div>
      </legend>
      {{ field() }}
    </fieldset>
  </div>
{% endmacro %}

{% macro StepTwo(new_manager_form) %}
  <hr class="full-width">
  <h1>Assign member permissions</h1>
  <a class='icon-link'>
    {{ Icon('info') }}
    {{ "portfolios.admin.permissions_info" | translate }}
  </a>
  {{ SimpleOptionsInput(new_manager_form.permission_sets.perms_app_mgmt) }}
  {{ SimpleOptionsInput(new_manager_form.permission_sets.perms_funding) }}
  {{ SimpleOptionsInput(new_manager_form.permission_sets.perms_reporting) }}
  {{ SimpleOptionsInput(new_manager_form.permission_sets.perms_portfolio_mgmt) }}
  <div class='action-group'>
    <input
      type="submit"
      class='action-group__action usa-button usa-button-primary'
      form="add-port-mem"
      value='Invite member'>
    <a class='action-group__action' v-on:click="closeModal('{{ new_port_mem }}')">Cancel</a>
  </div>
{% endmacro %}
